<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ubah kata sandi</title>
    </head>
    <body>
        <% if(is_success){ %>
            <h1>Selamat {name}, anda berhasil mengubah kata sandi. Masuk kembali untuk memastikan password baru anda</h1>
        <% } else{ %>
            <h1>Permintaan ubah kata sandi gagal, mohon coba lagi</h1>
        <% } %>

        <% if(device == 'web'){ %>
            <a href="https://presensi.zensemitraraya.com/login">Kembali</a>
        <% } else{ %>
            <a href="https://play.google.com/store/apps/details?id=com.kuitansiku.presensi_mobile">Kembali</a>
        <% } %>
    </body>
</html>